<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Rails DataBrowser</title>
<style type="text/css">

/*

.block		{padding:20px; border:5px solid #FFFFFF; background:#7F8488; color:#FFFFFF; margin:30px 0 0 0; }
#content	{padding:20px 20px 5px 20px; border:5px solid #F2F2F2; background:#FFFFFF; margin:30px 0 0 0; }

.block h3	{margin:0; padding:0; font-weight:normal; font-size:140%; line-height:160%; }
.block p	{font-size:90%; padding:0; text-align:center; }
.block a	{color:#FFFFFF; }
.block { width: 720px }

*/

/* -------------------------------------------------------------- 
  
   reset.css
   * Resets default browser CSS.
   
   Based on work by Eric Meyer:
   * meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
   
   - Part of Blueprint CSS Framework
   
-------------------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}


body { line-height: 1.5; background: #fff; margin:1.5em 0; }

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight:400; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

a img { border: none; }

/* ====== Databrowser ====== */

body {font-family:Arial, Helvetica, sans-serif; font-size:80%; margin:1.5em; }

a:link, a:visited { color:#09C; text-decoration:underline; }
a:hover { text-decoration: none; color: #007EA8; }
a:active { color:orange; }

h1 {
font-family:Georgia, "Times New Roman", Times, serif;
color:#B6343C;
font-size:150%;
text-align:right;
}

h1 a {color:#B6343C !important; text-decoration:none;}
h1 a:hover { color: #8B272D }

h2 {
font-family:Georgia, "Times New Roman", Times, serif;
font-size:120%;
color:#444;
font-weight:bold;
}

h3 {
font-size:100%;
color:#666;
}

table {
width:100%;
margin:auto;
font-size:90%;
border-collapse:collapse;
}

table th, table td {
padding:2px;
}

table th {
background-color:#EEF8FB;
color:#B6343C;
border:1px solid #DEF1F8;
border-width:1px 0 1px 0;
font-weight:bold;
}

table td {
border-bottom:1px dotted #E5E5E5;
}

table tr.odd td {
background-color:#F1F1EF;
}

ul {
list-style:circle inside;
font-size:100%;
color:#999;
}

div#content ul a {
font-size:80%;
}

ul#models {
float:left;
border:1px solid #F9EFC4;
padding:10px;
margin-right:15px;
list-style:circle inside;
line-height: 1.6;
background:#fff;
}

li {

}

/* Forms */

input, textarea, select {
color:#333;
border:1px solid #BBB;
}

select { padding:0 0 0 1px;}

form ul {
list-style:none;
margin:6px 0 10px 0;
clear:none;
float:left;
width:100%;
list-style:none !important;
text-align:left;
}

form li {
clear:both;
float:left;
padding: 5px 0 5px 0;
width:100%;
background:none;
line-height:normal;
margin:0;
}
	
form li div li {float:none;border:none;}
form li div ul {float:none;margin:none;border:0;}
	
form label {
float:left;
display:block;
width:190px;
}

form label.inline {
display:inline !important;
float:none !important;
margin-top:-2px;
width:auto;
}
	
form li div {
margin-left:10px;
float:left;
}

form li div div { margin-left:0 !important; float:none !important; }
	
div.button {margin-top:6px; padding-left:200px;}
div.button input { color:#069; font-weight:bold; background: #F9F0C4; border:2px solid #F6E69F; padding-left:10px; padding-right:10px; }
div.button input.imagem { background:none !important; border:0 !important;}

</style>
<%= javascript_include_tag "prototype" %>
<script>
function showSearchBox()
{
document.getElementById("search-box").style.display = "block";
document.getElementById("show-search").style.display = "none";
}
<%= yield :js %>
</script>
</head>
<body id="home">
		      <h1><%= link_to("<em>rails</em>databrowser", :action => "index") %></h1>
			  <ul id="models">
		      <% for model in @models %>
                        <li><%= link_to(model.to_s, :action => "browse", :model => model.to_s) %></li>
		      <% end %>
			  </ul>
		<div id="content">
		     <% if @model %>
	        <h2><%= @model.to_s %> (<%=@model.table_name%> table) <%= link_to("new", :action => "new", :model => @model.to_s) %></h2>
	        <% end %>
                <%= content_tag(:h3, flash[:notice]) if flash[:notice] %>
		      <%= yield %>
		</div>
		<div style="clear:both">&nbsp;</div>

</body>
</html>
