<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Rails DataBrowser</title>
<style type="text/css">
/* -------------------------------------------------------------- 
  
   reset.css
   * Resets default browser CSS.
   
   Based on work by Eric Meyer:
   * meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
   
   - Part of Blueprint CSS Framework
   
-------------------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}


body { line-height: 1.5; background: #fff; margin:1.5em 0; }

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight:400; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

a img { border: none; }

/* ====== Databrowser ====== */

body {font-family:Arial, Helvetica, sans-serif; font-size:80%; padding:1%; margin:0; border-top:2px solid #e6646c; }

a:link, a:visited { color:#09C; text-decoration:underline; }
a:hover { text-decoration: none; color: #007EA8; }
a:active { color:orange; }

h1 {
font-family:Georgia, "Times New Roman", Times, serif;
color:#B6343C;
font-size:150%;
text-align:right;
}

h1 a b { color:#E6646C; }

h1 a {color:#B6343C !important; text-decoration:none !important;}
h1 a:hover { color: #8B272D }

h2 {
font-family:Georgia, "Times New Roman", Times, serif;
font-size:140%;
color:#444;
}

h3 {
font-size:100%;
color:#666;
}

table {
width:100%;
margin:1% auto;
font-size:90%;
border-collapse:collapse;
}

table th, table td {
padding:1px 0 1px 3px;
}

table th {
background-color:#EEF8FB;
color:#B6343C;
border:1px solid #DEF1F8;
border-width:1px 0 1px 1px;
font-weight:bold;
padding:1px 4px 1px 4px;
}

table td {
border-bottom:1px dotted #E5E5E5;
}

table td.empty {text-align:center}

table tr.odd td {
background-color:#F9F9FF;
}

div#content ul {
list-style:circle inside;
font-size:80%;
color:#999;
}

div#content {
padding-left:13%;
}

div#content ul a {
font-size:125%;
}

ul#models {
float:left;
border:1px solid #ddd;
-moz-border-radius:6px;
padding:1%;
margin-right:15px;
list-style:circle inside;
line-height: 1.6;
background:#fff;
width:10%;
}

li {

}

/* Forms */

input, textarea, select {
color:#333;
border:1px solid #BBB;
}

select { padding:0 0 0 1px;}

form ul {
list-style:none;
margin:6px 0 10px 0;
clear:none;
float:left;
list-style:none !important;
text-align:left;
}

form li {
clear:both;
float:left;
padding: 5px 0 5px 0;
width:100%;
background:none;
line-height:normal;
margin:0;
}

form li div li {float:none;border:none;}
form li div ul {float:none;margin:none;border:0;}
form label {
float:left;
display:block;
width:190px;
}

form label.inline {
display:inline !important;
float:none !important;
margin-top:-2px;
width:auto;
}

form li div {
margin-left:10px;
float:left;
}

form li div div { margin-left:0 !important; float:none !important; }

div.button {margin-top:6px; padding-left:200px;clear:both}
div.button input { color:#069; font-weight:bold; background: #F9F0C4; border:2px solid #F6E69F; padding-left:10px; padding-right:10px; }
div.button input.imagem { background:none !important; border:0 !important;}

div#footer {border-top:1px solid;
clear:both;
color:#BBBBBB;
font-size:10px;
height:31px;
padding:0.25em 0pt;}
div#footer p.left {float:left;}
div#footer p.right {float:right;text-align:right;}
p {margin:4px 0 0 0}
</style>
<script>
function showSearchBox()
{
document.getElementById("search-box").style.display = "block";
document.getElementById("show-search").style.display = "none";
}
</script>
</head>
<body id="home">
    <h1><%= link_to("<b>Rails</b>DataBrowser", data_browser_home_path()) %></h1>
    <ul id="models">
	<% @models.each_with_index do |model, i| %>
        <li><%= link_to(model.table_name, data_browser_model_path(:model => i)) %></li>
	<% end %>
    </ul>
    <div id="content">
        <% if current_model %>
        <h2><%= current_model.table_name %> <%= link_to("new", data_browser_new_path(:model => current_model_id)) %></h2>
        <% end %>
        <%= content_tag(:h3, flash[:notice], :class => "notice") if flash[:notice] %>
        <%= yield %>
    </div>
    <div style="clear:both">&nbsp;</div>
    <div id="footer">
        <p class="left">
        Powered by <%= link_to("DataBrowser", data_browser_about_path()) %><br />
        by <a href="http://milk-it.net">Milk-it</a>
        </p>
        <p class="right">
            Visit Rails DataBrowser Official WebSite.<br />
            <a href="http://redmine.milk-it.net/projects/show/databrowser">redmine.milk-it.net/projects</a>
        </p>
    </div>
</body>
</html>
